.elm-switch-container {
  display: inline-block;
  line-height: 1;
}
.elm-switch-container .elm-switch__label {
  color: #F9F9F9;
  line-height: 1.15;
  font-size: 12px;
}
.elm-switch-container .elm-switch__label--toggled {
  color: #F9F9F9;
}
.elm-switch-container .elm-switch {
  display: inline-block;
  width: 35px;
  height: 15px;
  margin: 4px 0px;
  cursor: pointer;
  border: solid 1px rgba(0,0,0,0.54);
  border-color: rgba(0,0,0,0.54);
  border-radius: 4px;
  position: relative;
  transition: 0.25s;
  background-color: rgba(0,0,0,0.08);
}
.elm-switch-container .elm-switch.elm-switch--selected {
  border-color: rgba(0,0,0,0.08);
  background-color: rgba(46,112,252);
}
.elm-switch-container .elm-switch .elm-switch__switch-indicator {
  display: flex;
  background-color: #fff;
  transition: 0.25s;
  color: rgba(0,0,0,0.54);
  text-align: center;
  position: absolute;
  top: -2px;
  left: -2px;
  height: 19px;
  width: 19px;
  line-height: 12px;
  box-sizing: border-box;
  border: solid 2px rgba(0,0,0,0.54);
  border-radius: 4px;
}
.elm-switch-container .elm-switch .elm-switch__switch-indicator--toggled {
  left: 17px;
  color: #F9F9F9;
  border: solid 2px rgba(0,0,0,0.54);
}
